<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0 maximum-scale=1.0" />
  <title>Muninn Speed Test</title>
  </head>
  <body id="body" style="width: 100%; height: 100%;">
    <div class="text-center">
      <iframe width="100%" height="650px" frameborder="0" id="speedtest" src="https://suggesticelettuce.speedtestcustom.com"></iframe>
      <div id='results' class='container'>
        <br>
        <p>Run the speedtest and enter the results below along with your location</p>
        <form width="100%" action='/results' method="GET">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Download" name="down" id="down">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Upload" name="up" id="up">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Ping" name="ping" id="ping">
            </div>
            <div class="col">
              <select placeholder="Location" class="form-control" id="select" name="location">
                <option selected disabled>Location</option>
                <option>Benson Earth Sciences</option>
                <option>Clare Small</option>
                <option>Cristol Chemistry and Biochemistry</option>
                <option>Duane Physics and Astrophysics</option>
                <option>Eaton Humanities</option>
                <option>Economics</option>
                <option>Education</option>
                <option>Ekeley Science</option>
                <option>Environmental Design</option>
                <option>Fleming Law</option>
                <option>Gold Biosciences</option>
                <option>Guggenheim Geography</option>
                <option>Hale Science</option>
                <option>Hellems Arts and Sciences</option>
                <option>Imig Music</option>
                <option>JILA</option>
                <option>Ketchum Arts and Sciences</option>
                <option>Koelbel (Leeds School of Business)</option>
                <option>Mathematics</option>
                <option>McKenna Languages</option>
                <option>Muenzinger Psychology</option>
                <option>Norlin Library</option>
                <option>Porter Biosciences</option>
                <option>Ramaley Biology</option>
                <option>ATLAS Center</option>
                <option>Visual Arts Complex</option>
                <option>Wolf Law</option>
                <option>Museum Collections</option>
                <option>Rec Center</option>
                <option>University Memorial Center (UMC)</option>
                <option>Center for Community (C4C)</option>
                <option>Engineering Center</option>
                <option>Integrated Teaching & Learning Laboratory (ITLL)</option>
                <option>Discovery Learning Center (DLC)</option>
              </select>
            </div>
          </div>
          <div>
            <br>
            <button type="submit" class="btn btn-dark text-center">Continue</button>
          </div>
        </form>
    </div>
    </body>
    <script>
    function getResults(){
      var down = document.getElementById('down');
      var up = document.getElementById('up');
      var ping = document.getElementById('ping');
      var loc = document.getElementById('select');

      window.location.replace(window.location.href + "results?down=" + down.value + "&up=" + up.value + "&ping=" + ping.value + "&loc=" + select.value);

    }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <hr>
  <footer class="text-center">
    <p>&copy; 2019 Team 113-3: Suggestive Lettuce</p>
    <p>John Willard | Liam Nestelroad | Caitlin Neppl | Matthew Jonas | Ben Prucha | Neil Ray</p>
  </footer>
</html>
