<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0 maximum-scale=1.0" />
  <title>CU Boulder WiFi Test</title>
  </head>
  <body id="body" style="width: 100%; height: 100%;">
    <div class="text-center">
      <iframe width="100%" height="650px" frameborder="0" id="speedtest" src="https://suggesticelettuce.speedtestcustom.com"></iframe>
      <div id='results' class='container'>
        <br>
        <form action='/results' method="GET">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Download" name="down">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Upload" name="up">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Ping" name="ping">
            </div>
          </div>
          <div>
            <p id="locationCheck"></p>
            <input class="btn btn-dark" type="submit">
          </div>
        </form>
      </div>
    </div>
    </body>
    <script>
    var lat,long,acc,alt,alcAcc;
    var flag = false;

    var options = {
      enableHighAccuracy: true,
      timeout: 5000,
      maximumAge: 0
    };

    function success(pos) {
      flag = true;
      var crd = pos.coords;

      lat = crd.latitude;
      long = crd.longitude;
      acc = crd.accuracy;
    }

    function error(err) {
      console.warn(`ERROR(${err.code}): ${err.message}`);
      flag = false;
    }

    var observer = new MutationObserver(function (mutations) {
      mutations.forEach(function (mutation){
        if (mutation.addedNodes.length){
          console.log(mutation.addedNodes[0]);
        }
      });
    });
    var div = document.getElementById("body");
    observer.observe(div, {childList: true});
    navigator.geolocation.getCurrentPosition(success, error, options);
    function getResults(){
      if (flag == false){
        document.getElementById("locationCheck").innerHTML = "Please accept location permission to continue";
        navigator.geolocation.getCurrentPosition(success, error, options);
        return;
      }
      var htmlContents = document.documentElement.outerHTML;
      var idIndex = htmlContents.search("speedtestcustom.com/results") + 27;
      if (idIndex > 100) {
        var testId = htmlContents.slice(idIndex, idIndex + 36);
        window.location.replace(window.loaction.href + "results?testId=" + testId);
      }
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
