<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <!-- <script src="../static/js/index.js"></script> -->
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/home">Home</a>
        </div> 
        <div class='container'>
            <div class='jumbotron'>
                <h1 id='header'>Suggestive Lettuce Test Page</h1>
            </div>
        </div>
        <div id='testButton' class='container'>
            <br>
            <form action='/home/saveShit' method="GET">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Latitude" name="lat">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Longitude" name="long">
                    </div>
                </div>
                <div class="row">
                    <div class='col'>
                        <input type="text" class="form-control" placeholder="Upload" name="up">
                    </div>
                    <div class='col'>
                        <input type="text" class="form-control" placeholder="Download" name="down">
                    </div>
                </div>
                <div class='col'>
                    <input type="text" class="form-control" placeholder="Ping" name="ping">
                </div>
                <div>
                    <input type="submit" >
                </div>
            </form>
        <br>
        <div id="showData" class="container" method="GET">
            <br>
            <form action="/home/showAll">
                <button type="submit">Show current entries</button>
            </form>

        </div>
    </body>
</html>